@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  min-width: 320px;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  color: #f2f2f2;
  font-family: "Winky Sans", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 128px;
  align-items: center;
}
header .logo {
  text-decoration: none;
  display: inline-block;
  font-size: 3rem;
  font-weight: lighter;
  color: #f2f2f2;
  text-transform: uppercase;
  animation: bounce 200ms linear alternate infinite;
  cursor: crosshair;
}
header .logo:hover {
  animation-play-state: paused;
  color: #48e98b;
}
header .menu-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 8px;
}
header .menu-list-item a {
  display: inline-block;
  text-decoration: none;
  color: #f2f2f2;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
header .menu-list-item a:hover {
  background-color: #48e98b;
  scale: 1.05;
}
header .menu-list-item .active {
  background-color: #48e98b;
  color: #1a1a1a;
  pointer-events: none;
  font-weight: 600;
}
header .modal {
  display: none;
}
header .active {
  display: none;
}
header .menu-mobile {
  width: 250px;
  height: 350px;
  position: fixed;
  left: -100%;
  bottom: 0;
  background-color: #1a1a1a;
  border-top-right-radius: 16px;
  z-index: 11;
  display: flex;
  transition: all 500ms ease-in-out;
}
header .menu-mobile .mobile-nav {
  width: 100%;
  height: 100%;
  position: relative;
}
header .menu-mobile .mobile-nav .menu-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  padding: 24px;
}
header .menu-mobile .mobile-nav span {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  color: #f2f2f2;
  font-size: 24px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  border-radius: 50%;
  background-color: red;
}
@media screen and (max-width: 680px) {
  header .logo {
    position: fixed;
    bottom: 36px;
    left: 36px;
  }
  header .active {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  header .menu-mobile-active {
    left: 0;
  }
  header .menu {
    display: none;
  }
}

@keyframes loopX {
  0% {
    transform: rotatex(0deg);
  }
  100% {
    transform: rotatex(270deg);
  }
}
@keyframes loopY {
  0% {
    transform: rotatey(0deg);
  }
  100% {
    transform: rotatey(360deg);
  }
}
@keyframes bounce {
  0% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
@keyframes jump {
  0% {
    transform: translateY(0px);
    transform: rotatex(0deg);
  }
  20% {
    transform: translateY(-100px);
  }
  40% {
    transform: translateY(0px);
  }
  50% {
    transform: rotatex(270deg);
  }
  60% {
    transform: translateY(-50px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-25px);
    transform: rotatex(0deg);
  }
}
@keyframes light {
  0% {
    box-shadow: none;
  }
  10% {
    box-shadow: inset 0px 0px 0px 4px rgb(248, 1, 13), 0 0 0px 3px rgba(248, 1, 13, 0.9);
  }
  20% {
    box-shadow: inset 0px 0px 0px 4px rgb(248, 1, 13), 0 0 0px 3px rgba(248, 1, 13, 0.9), 0 0 5px 5px rgba(248, 1, 13, 0.7);
  }
  30% {
    box-shadow: inset 0px 0px 0px 4px rgb(248, 1, 13), 0 0 0px 3px rgba(248, 1, 13, 0.9), 15px 0 5px 5px rgba(248, 1, 13, 0.7), 0 0 10px 10px rgba(248, 1, 13, 0.4);
  }
  40% {
    box-shadow: inset 0px 0px 0px 4px rgb(248, 1, 13), 0 0 0px 3px rgba(248, 1, 13, 0.9), -15px 0 5px 5px rgba(248, 1, 13, 0.7), 15px 0 10px 10px rgba(248, 1, 13, 0.4), 0 0 15px 15px rgba(248, 1, 13, 0.2);
  }
  50% {
    box-shadow: inset 0px 0px 0px 4px rgb(248, 1, 13), 0 0 0px 3px rgba(248, 1, 13, 0.9), 15px 0 5px 5px rgba(248, 1, 13, 0.7), -15px 0 10px 10px rgba(248, 1, 13, 0.4), 10px 0 15px 15px rgba(248, 1, 13, 0.2), 0 0 20px 20px rgba(248, 1, 13, 0.1);
  }
  60% {
    box-shadow: inset 0px 0px 0px 4px rgb(248, 1, 13), 0 0 0px 3px rgba(248, 1, 13, 0.9), -15px 0 5px 5px rgba(248, 1, 13, 0.7), 15px 0 10px 10px rgba(248, 1, 13, 0.4), -10px 0 15px 15px rgba(248, 1, 13, 0.2), 10px 0 20px 20px rgba(248, 1, 13, 0.1);
  }
  70% {
    box-shadow: inset 0px 0px 0px 4px rgb(248, 1, 13), 0 0 0px 3px rgba(248, 1, 13, 0.9), 10px 0 5px 5px rgba(248, 1, 13, 0.7), -10px 0 10px 10px rgba(248, 1, 13, 0.4), 15px 0 15px 15px rgba(248, 1, 13, 0.2), -15px 0 20px 20px rgba(248, 1, 13, 0.1);
  }
  80% {
    box-shadow: inset 0px 0px 0px 4px rgb(248, 1, 13), 0 0 0px 3px rgba(248, 1, 13, 0.9), -10px 0 5px 5px rgba(248, 1, 13, 0.7), 10px 0 10px 10px rgba(248, 1, 13, 0.4), -15px 0 15px 15px rgba(248, 1, 13, 0.2), 15px 0 20px 20px rgba(248, 1, 13, 0.1);
  }
  90% {
    box-shadow: inset 0px 0px 0px 4px rgb(248, 1, 13), 0 0 0px 3px rgba(248, 1, 13, 0.9), 0px 0 5px 5px rgba(248, 1, 13, 0.7), 0px 0 10px 10px rgba(248, 1, 13, 0.4), 10px 0 15px 15px rgba(248, 1, 13, 0.2), -10px 0 20px 20px rgba(248, 1, 13, 0.1);
  }
  100% {
    box-shadow: inset 0px 0px 0px 4px rgb(248, 1, 13), 0 0 0px 3px rgba(248, 1, 13, 0.9), 0px 0 5px 5px rgba(248, 1, 13, 0.7), 0px 0 10px 10px rgba(248, 1, 13, 0.4), 0px 0 15px 15px rgba(248, 1, 13, 0.2), 0px 0 20px 20px rgba(248, 1, 13, 0.1);
  }
}
@keyframes lateral-teste {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-50px);
  }
}
@keyframes vertical-teste {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-50px);
  }
}
@keyframes aula03 {
  0% {
    width: 200px;
    height: 200px;
    transform: rotate(-45deg);
  }
  100% {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }
}
@keyframes aula04 {
  0% {
    width: 10px;
  }
  100% {
    width: 150px;
  }
}
.container-home {
  width: 100%;
  height: auto;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-home h1 {
  font-size: 4rem;
  text-align: center;
}
.container-home .cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 24px auto;
}
.container-home .cta h2 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.container-home .cta h2 p {
  position: relative;
}
.container-home .cta h2 p::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border-radius: 50%;
  z-index: -1;
  mix-blend-mode: lighten;
  filter: blur(7px);
  animation: light 5s linear alternate infinite;
}
.container-home .btn-cta {
  text-decoration: none;
  display: inline-block;
  background-color: #f2f2f2;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 8px;
  color: #1a1a1a;
  transition: all 300ms ease-in-out;
}
.container-home .btn-cta:hover {
  cursor: cell;
  scale: 0.9;
  background-color: red;
  color: #f2f2f2;
  animation: light 5s linear alternate infinite;
}

.teste-container {
  width: 100%;
  height: auto;
  min-height: 1000px;
  margin: 64px auto 16px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.teste-container h1 {
  font-size: 4rem;
}
.teste-container .btn-doc {
  text-decoration: none;
  display: inline-block;
  background-color: #f2f2f2;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 8px;
  color: #1a1a1a;
  transition: all 300ms ease-in-out;
  box-shadow: 5px 5px 10px rgba(3, 255, 66, 0.3);
}
.teste-container .btn-doc:hover {
  cursor: pointer;
  scale: 0.95;
  background-color: #48e98b;
  color: #1a1a1a;
  box-shadow: 3px 3px 5px rgba(253, 255, 255, 0.3);
}
.teste-container .teste {
  width: 80%;
  margin: 32px auto 16px auto;
  min-width: 320px;
  height: auto;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 16px;
}
.teste-container .teste .container-box {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px 0;
}
.teste-container .teste .container-box h3 {
  color: #f2f2f2;
  font-size: 20px;
  text-align: center;
}
.teste-container .teste .container-box .box-parent {
  width: 150px;
  height: 150px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.3);
}
.teste-container .teste .container-box .box-parent .box {
  width: 150px;
  height: 150px;
  background-color: #48e98b;
  border-radius: 16px;
  cursor: crosshair;
  box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.teste-container .teste .container-box .box-resposta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.teste-container .teste .container-box .box-resposta p {
  color: #f2f2f2;
  font-size: 14px;
  text-align: center;
}
.teste-container .teste .container-box .box-resposta span {
  color: #48e98b;
  font-size: 14px;
  text-align: center;
}
.teste-container .teste-1 .container-box .parent-1 {
  perspective: 300px;
}
.teste-container .teste-1 .container-box .parent-1 .box {
  transform-origin: 0% 0%;
  transition: all 500ms ease-in-out;
}
.teste-container .teste-1 .container-box .parent-1 .box:hover {
  transform: rotate(45deg);
}
.teste-container .teste-1 .container-box .parent-2 {
  perspective: 300px;
}
.teste-container .teste-1 .container-box .parent-2 .box {
  transition: all 500ms ease-in-out;
}
.teste-container .teste-1 .container-box .parent-2 .box:hover {
  transform: translate(50px, 0px);
}
.teste-container .teste-1 .container-box .parent-3 {
  perspective: 300px;
}
.teste-container .teste-1 .container-box .parent-3 .box {
  transition: all 500ms ease-in-out;
}
.teste-container .teste-1 .container-box .parent-3 .box:hover {
  transform: translate(0px, -50px);
}
.teste-container .teste-1 .container-box .parent-4 {
  perspective: 300px;
}
.teste-container .teste-1 .container-box .parent-4 .box {
  transition: all 500ms ease-in-out;
}
.teste-container .teste-1 .container-box .parent-4 .box:hover {
  transform: scale(0.7);
}
.teste-container .teste-1 .container-box .parent-5 {
  perspective: 300px;
}
.teste-container .teste-1 .container-box .parent-5 .box {
  transition: all 500ms ease-in-out;
}
.teste-container .teste-1 .container-box .parent-5 .box:hover {
  transform: scale(1.2, 1.2);
}
.teste-container .teste-1 .container-box .parent-6 {
  perspective: 300px;
}
.teste-container .teste-1 .container-box .parent-6 .box {
  transition: all 500ms ease-in-out;
}
.teste-container .teste-1 .container-box .parent-6 .box:hover {
  transform: rotate(45deg);
}
.teste-container .teste-1 .container-box .parent-7 {
  perspective: 200px;
}
.teste-container .teste-1 .container-box .parent-7 .box {
  transition: all 500ms ease-in-out;
}
.teste-container .teste-1 .container-box .parent-7 .box:hover {
  transform: skew(15deg, 30deg);
}
.teste-container .teste-1 .container-box .parent-8 {
  perspective: 200px;
}
.teste-container .teste-1 .container-box .parent-8 .box {
  transition: all 500ms ease-in-out;
}
.teste-container .teste-1 .container-box .parent-8 .box:hover {
  transform: skewX(20deg);
}
.teste-container .teste-1 .container-box .parent-9 {
  perspective: 200px;
}
.teste-container .teste-1 .container-box .parent-9 .box {
  transition: all 500ms ease-in-out;
}
.teste-container .teste-1 .container-box .parent-9 .box:hover {
  transform: skewY(-15deg);
}
.teste-container .teste-1 .container-box .parent-10 {
  perspective: 200px;
}
.teste-container .teste-1 .container-box .parent-10 .box {
  transition: all 500ms ease-in-out;
}
.teste-container .teste-1 .container-box .parent-10 .box:hover {
  transform: matrix(1, 0, 0, 1, 100, 50);
}
.teste-container .teste-2 .container-box .box-parent .box {
  background-color: #066df5;
}
.teste-container .teste-2 .container-box .parent-11 {
  perspective: 300px;
}
.teste-container .teste-2 .container-box .parent-11 .box {
  transform-origin: 0% 0%;
  transition: all 500ms ease-in-out;
}
.teste-container .teste-2 .container-box .parent-11 .box:hover {
  transform: translate3d(50px, 20px, 100px);
}
.teste-container .teste-2 .container-box .parent-12 {
  perspective: 300px;
}
.teste-container .teste-2 .container-box .parent-12 .box {
  transform-origin: 0% 0%;
  transition: all 500ms ease-in-out;
}
.teste-container .teste-2 .container-box .parent-12 .box:hover {
  transform: scale3d(1.2, 0.8, 1.5);
}
.teste-container .teste-2 .container-box .parent-13 {
  perspective: 300px;
}
.teste-container .teste-2 .container-box .parent-13 .box {
  transform-origin: 0% 0%;
  transition: all 500ms ease-in-out;
}
.teste-container .teste-2 .container-box .parent-13 .box:hover {
  transform: rotate3d(1, 1, 0, 45deg);
}
.teste-container .teste-2 .container-box .parent-14 {
  perspective: 300px;
  transform-style: preserve-3d;
  transition: all 500ms ease-in-out;
}
.teste-container .teste-2 .container-box .parent-14 .box {
  transform-origin: 0% 0%;
  transition: all 500ms ease-in-out;
  transform-origin: center center;
}
.teste-container .teste-2 .container-box .parent-14:hover {
  transform: rotateX(60deg);
}
.teste-container .teste-2 .container-box .parent-14:hover .box {
  transform: rotateY(45deg);
}
.teste-container .teste-2 .container-box .parent-15 {
  perspective: 300px;
}
.teste-container .teste-2 .container-box .parent-15 .box {
  transform-origin: 0% 0%;
  transition: all 500ms ease-in-out;
}
.teste-container .teste-2 .container-box .parent-15 .box:hover {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 50, 100, 1);
}

.aula01 {
  width: 100%;
  height: auto;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  perspective: 100px;
}
.aula01 h1 {
  font-size: 3rem;
  margin-bottom: 24px;
  text-align: center;
}
.aula01 .box {
  width: 100px;
  height: 100px;
  background-color: #48e98b;
  border-radius: 16px;
  box-shadow: inset 15px 15px 15px 1px rgba(26, 26, 26, 0.3), 0 0 5px rgba(254, 255, 254, 0.5);
  animation: loopX 10s linear infinite;
}

.aula02 {
  width: 100%;
  height: auto;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aula02 h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 24px;
}
.aula02 .parent {
  width: 100px;
  height: 100px;
  border-radius: 16px;
  perspective: 400px;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  animation: loopY 1s linear alternate infinite;
}
.aula02 .parent .box {
  width: 100px;
  height: 100px;
  background-color: #e7c606;
  border: 5px solid #94750f;
  border-radius: 100px;
  transform: rotateX(0deg);
  will-change: transform;
  animation: jump 5s linear alternate infinite;
  box-shadow: inset 5px 8px 0 -4px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aula02 .parent .box p {
  font-size: 64px;
  color: #493a07;
  font-weight: bold;
}
.aula02 .parent:hover {
  animation-play-state: paused;
  cursor: grab;
}
.aula02 .parent:hover .box {
  animation-play-state: paused;
  cursor: grab;
}

.aula03 {
  width: 100%;
  height: auto;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 48px;
}
.aula03 h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 24px;
}
.aula03 .container-box {
  width: 90%;
  min-width: 300px;
  margin: 48px auto;
  height: auto;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.aula03 .container-box .box-parent {
  width: 150px;
  height: 150px;
  border-radius: 16px;
  perspective: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.aula03 .container-box .box-parent .box {
  width: 150px;
  height: 150px;
  background-color: #48e98b;
  border-radius: 16px;
  cursor: crosshair;
  animation-name: aula03;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 2s;
  animation-timing-function: linear;
}

.aula04 {
  width: 100%;
  height: auto;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 48px;
}
.aula04 h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 24px;
}
.aula04 .container-box {
  width: 90%;
  min-width: 300px;
  margin: 48px auto;
  height: auto;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.aula04 .container-box .box-parent {
  width: 150px;
  height: 150px;
  border-radius: 16px;
  perspective: 300px;
  background-color: rgba(0, 0, 0, 0.3);
}
.aula04 .container-box .box-parent .box {
  width: 150px;
  height: 150px;
  background-color: #48e98b;
  border-radius: 16px;
  cursor: crosshair;
  animation: aula04 2s cubic-bezier(0, 1, 1, 0) alternate infinite;
}/*# sourceMappingURL=style.css.map */