@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

// Variaveis==============================================
// Colors ================================================
$white: #f2f2f2;
$black: #1a1a1a;
$green: #48e98b;
$blue: #066df5;



// Reset ================================================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  min-width: 320px;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  background-color: $black;
  color: $white;
  font-family: "Winky Sans", sans-serif;
}

// Menu ================================================

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 128px;
  align-items: center;

  .logo {
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    font-weight: lighter;
    color: $white;
    text-transform: uppercase;
    animation: bounce 200ms linear alternate infinite;
    cursor: crosshair;

    &:hover {
      animation-play-state: paused;
      color: $green;
    }

  }

  .menu {
    &-list {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 8px;

      &-item {

        a {
          display: inline-block;
          text-decoration: none;
          color: $white;
          padding: 8px;
          border-radius: 8px;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: $green;
            scale: 1.05;
          }

        }

        .active {
            background-color: $green;
            color: $black;
            pointer-events: none;
            font-weight: 600;
          
        }
      }
    }
  }

  .modal {
    display: none;
  }

  .active {
    display: none;
  }

  .menu-mobile {
    width: 250px;
    height: 350px;
    position: fixed;
    left: -100%;
    bottom: 0;
    background-color: $black;
    border-top-right-radius: 16px;
    z-index: 11;
    display: flex;
    transition: all 500ms ease-in-out;
    
    .mobile-nav {
      width: 100%;
      height: 100%;
      position: relative;

      .menu-list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 16px;
        padding: 24px;
      }

      span {
        position: absolute;
        top: 24px;
        right: 24px;
        cursor: pointer;
        color: $white;
        font-size: 24px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2px;
        border-radius: 50%;
        background-color: red;
      }
    }

  }



  @media screen and (max-width: 680px) {

    .logo {
      position: fixed;
      bottom: 36px;
      left: 36px;
    }
    
    .active {
      display: block;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.6);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
    }

    .menu-mobile-active {
      left: 0;
    }


    .menu {
      display: none;
    }
  }
}


// animations ================================================

@keyframes loopX {
  0% {
    transform: rotatex(0deg);
  }

  100% {
    transform: rotatex(270deg);
  }
}

@keyframes loopY {
  0% {
    transform: rotatey(0deg);
  }

  100% {
    transform: rotatey(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px);
    transform: rotatex(0deg);
  }

  20% {
    transform: translateY(-100px);
  }

  40% {
    transform: translateY(0px);
  }

  50% {
    transform: rotatex(270deg);
  }

  60% {
    transform: translateY(-50px);
  }

  80% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-25px);
    transform: rotatex(0deg);
  }
}

@keyframes light {
  0% {
    box-shadow: none;
  }

  10% {
    box-shadow: 
      inset 0px 0px 0px 4px rgba(248, 1, 13, 1),
      0 0 0px 3px rgba(248, 1, 13, 0.9), ;
  }
  20% {
    box-shadow:
      inset 0px 0px 0px 4px rgba(248, 1, 13, 1),
      0 0 0px 3px rgba(248, 1, 13, 0.9),
      0 0 5px 5px rgba(248, 1, 13, 0.7), ;
  }
  30% {
    box-shadow:
      inset 0px 0px 0px 4px rgba(248, 1, 13, 1),
      0 0 0px 3px rgba(248, 1, 13, 0.9),
      15px 0 5px 5px rgba(248, 1, 13, 0.7), 
      0 0 10px 10px rgba(248, 1, 13, 0.4),;
  }
  40% {
    box-shadow:
      inset 0px 0px 0px 4px rgba(248, 1, 13, 1),
      0 0 0px 3px rgba(248, 1, 13, 0.9),
      -15px 0 5px 5px rgba(248, 1, 13, 0.7), 
      15px 0 10px 10px rgba(248, 1, 13, 0.4),
      0 0 15px 15px rgba(248, 1, 13, 0.2),
      ;
  }
  50% {
    box-shadow:
      inset 0px 0px 0px 4px rgba(248, 1, 13, 1),
      0 0 0px 3px rgba(248, 1, 13, 0.9),
      15px 0 5px 5px rgba(248, 1, 13, 0.7), 
      -15px 0 10px 10px rgba(248, 1, 13, 0.4),
      10px 0 15px 15px rgba(248, 1, 13, 0.2),
      0 0 20px 20px rgba(248, 1, 13, 0.1);
  }
  60% {
    box-shadow:
      inset 0px 0px 0px 4px rgba(248, 1, 13, 1),
      0 0 0px 3px rgba(248, 1, 13, 0.9),
      -15px 0 5px 5px rgba(248, 1, 13, 0.7), 
      15px 0 10px 10px rgba(248, 1, 13, 0.4),
      -10px 0 15px 15px rgba(248, 1, 13, 0.2),
      10px 0 20px 20px rgba(248, 1, 13, 0.1);
  }
  70% {
    box-shadow:
      inset 0px 0px 0px 4px rgba(248, 1, 13, 1),
      0 0 0px 3px rgba(248, 1, 13, 0.9),
      10px 0 5px 5px rgba(248, 1, 13, 0.7), 
      -10px 0 10px 10px rgba(248, 1, 13, 0.4),
      15px 0 15px 15px rgba(248, 1, 13, 0.2),
      -15px 0 20px 20px rgba(248, 1, 13, 0.1);
  }
  80% {
    box-shadow:
      inset 0px 0px 0px 4px rgba(248, 1, 13, 1),
      0 0 0px 3px rgba(248, 1, 13, 0.9),
      -10px 0 5px 5px rgba(248, 1, 13, 0.7), 
      10px 0 10px 10px rgba(248, 1, 13, 0.4),
      -15px 0 15px 15px rgba(248, 1, 13, 0.2),
      15px 0 20px 20px rgba(248, 1, 13, 0.1);
  }
  90% {
    box-shadow:
      inset 0px 0px 0px 4px rgba(248, 1, 13, 1),
      0 0 0px 3px rgba(248, 1, 13, 0.9),
      0px 0 5px 5px rgba(248, 1, 13, 0.7), 
      0px 0 10px 10px rgba(248, 1, 13, 0.4),
      10px 0 15px 15px rgba(248, 1, 13, 0.2),
      -10px 0 20px 20px rgba(248, 1, 13, 0.1);
  }
  100% {
    box-shadow:
      inset 0px 0px 0px 4px rgba(248, 1, 13, 1),
      0 0 0px 3px rgba(248, 1, 13, 0.9),
      0px 0 5px 5px rgba(248, 1, 13, 0.7), 
      0px 0 10px 10px rgba(248, 1, 13, 0.4),
      0px 0 15px 15px rgba(248, 1, 13, 0.2),
      0px 0 20px 20px rgba(248, 1, 13, 0.1);
  }
}

@keyframes lateral-teste {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(-50px);
  }
}

@keyframes vertical-teste {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(-50px);
  }
}

@keyframes aula03 {
  0% {
    width: 200px;
    height: 200px;
    transform: rotate(-45deg);
  }
  
  100% {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }
}

@keyframes aula04 {
  0% {
    width: 10px;

  }
  
  100% {
    width: 150px;
  }
}
